
.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #8b8b8b;
    height: 100%;
}

.interlocutors {
    padding: 10px;
    border-right: 1px solid #5b5b5b;
    height: 85vh;
}

.active {
    color: rgb(168, 155, 155);
    background-color: #7b7b7b;
    box-shadow: -1px 1px 5px #6b6b6b;
}

.interlocutor, .message {
    padding: 5px 0 5px 0;
}

.interlocutor {
    padding: 5px 0 5px 0;
}

.interlocutor a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

.interlocutor img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.interlocutor > div {
    display: flex;
    align-items: center;
}

.messages {
    padding: 10px;
    margin-left: 20px;
    color: honeydew;
}
